@import './CSS/reset.css';

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 0.5rem;
}

.accordeon {

}

.accordeon__content {

}

.accordeon__title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 2px solid #665a5a;
}

.accordeon__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accordeon__inner:hover .item__title{
    color: #000;
}

.accordeon__item {
    width: 100%;
    border-bottom: 2px solid #665a5a;
    margin-bottom: 1.5rem;
}

.accordeon__item:hover .item__content {
    max-height: 50rem;
}

.accordeon__item:hover .item__title_icon{
    transform: rotateZ(45deg);
}
.item__title {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #ee5757;
    font-weight: 700;
}

.item__title_icon {
    transition: all .2s linear;
    width: 1.3rem;
}

.item__content {
    max-height: 0rem;
    overflow: hidden;
    transition: all 0.3s linear;

}

.item__img {
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 25rem;
}

.accordeon__item:focus .item__content {
    max-height: 100%;
}

.accordeon__item:focus .item__title{
    color: #000;
}

.accordeon__item:focus .item__title_icon{
    transform: rotate(45deg);
}
